*{
	padding: 0;
	margin: 0;
}

.header{
	background-color: skyblue;
	line-height: 70px;
	padding-left: 30px;
}

a{
	text-decoration: none;
}

.logout{
	float: right;
	padding-right: 35px;
}

.logout-button{
	background-color: green;
	color: white;
	padding: 10px;
	border-radius: 5px;
}

.logout-button:hover{
	color: antiquewhite;
}

ul{
	background-color: #424a5b;
	width: 15%;
	height: 100%;
	position: fixed;
	padding-top: 5%;
	text-align: center;
	padding-left: 0px;
}

ul li{
	list-style: none;
	padding-bottom: 30px;
	font-size: 15px;
}

ul li a{
	color: white;
	font-weight: bold;
}

ul li a:hover{
	color: skyblue;
	text-decoration: none;
}

.content{
	margin-left: 20%;
	margin-top: 5%;
}

.table-header{
border-bottom: 1px solid black;
}

.table-data{
border-bottom: 1px solid black;
}

.table-cell{
border:1px solid black;
padding: 10px;
}