*{
	padding: 0;
	margin: 0;
}

nav{
	position: fixed;
	background-color: skyblue;
	height: 70px;
	width: 100%;
	z-index: 1;
}

.logo{
	font-size: 25px;
	position: relative;
	left: 5%;
	color: white;
	font-weight: bold;
	line-height: 70px;
}

ul{
	position: relative;
	float: right;
	margin-right:20px ;
}

ul li{
	display: inline-block;
	line-height: 70px;
	margin: 0 15px;
}

ul li a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}

.login-button{
	background-color: green;
	padding: 10px;
	border-radius: 5px;
}

.section1{
	padding-top: 70px;
}

.home_image{
	width: 100%;
	height: 400px;
}

.img_text{
	position: absolute;
	top: 30%;
	left: 30%;
	color: white;
	background-color: midnightblue;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 37px;
}

.welcome_img{
	width: 250px;
	height: 200px;
}

.container{
	padding-top: 70px;
}