*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body{
	background-color: #yellow;
}

.login-form{
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 50px 60px 70px;
	text-align: center;
}

.login-form h1{
	font-size: 30px;
	margin-bottom: 60px;
	color: #3c00a0;
	position: relative;
}

.login-form h1::after{
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%);
}

.input-field{
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}

.input-field i{
	margin-left: 15px;
	color: #999;
}

form p{
	text-align: left;
	font-size: 13px;
}

form p a{
	text-decoration: none;
	color: #3c00a0;
}

.submit-field{
	width: 100%;
}

input[type="submit"] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.input-group{
	height: 180px;
}
button {
	color:Blue; 
}